#hover {
    border: 3px solid black;
    text-align: center;
    background-color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 100px;
    padding: 10px;
    width: 30%;
    margin: auto;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
